<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376774619170-f44pd08lb0gca79uj8tpq4u06fgv9bbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376774619170-f44pd08lb0gca79uj8tpq4u06fgv9bbm</string>
	<key>API_KEY</key>
	<string>AIzaSyB-ZHPUHIJ578XFkeCOANwsFBXTFE9SS7w</string>
	<key>GCM_SENDER_ID</key>
	<string>376774619170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mil.dod.nga.rocketchat</string>
	<key>PROJECT_ID</key>
	<string>rocketchat-78cc3</string>
	<key>STORAGE_BUCKET</key>
	<string>rocketchat-78cc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376774619170:ios:e460b1302f1b934b795a7b</string>
</dict>
</plist>